.container-wrapper {
  padding: 20px;
  align-items: flex-start;
  display: flex;
}
table {
  border-collapse: collapse;
  width: 90%;
  max-width: 900px;
}

td > button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
}