.book-item-container {
    max-width: 600px;
    padding: 20px;
    align-items: flex-start;
}
.input-box {
    margin: 10px 0px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.input-box label {
  flex: 0 0 110px; 
  text-align: left;
  margin-right: 10px;
}

.input-box input {
  flex: 1;
}

.input-box button {

    margin: 20px 0px;
    justify-content: flex-end;
    display: block;
    width: 100%;
}