.container-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Changed from left to flex-start */
    margin-top: 20px;
}

      
.input-box {
    margin: 10px 0px;
    justify-content: space-between;
    display: flex;
}

.input-box label {
  flex: 0 0 110px; 
  text-align: left;
  margin-right: 10px;
}

.input-box-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
}