.setup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-row button {
    min-width: 100px;
    padding: 15px;
}

@media(max-width: 480px) {
    .input-row {
        flex-direction: column;
        width: 100%;
    }

    .input-row > * {
        width: 100%;
        margin-bottom: 10px;
    }
    .input-row button {
        min-width: 100%;
    }
}
