.container-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.render-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.render-wrapper > * {
    width: 300px;
    text-align: center;
}

.render-wrapper > button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    display: block;
}

@media (max-width: 480px) {
    .render-wrapper {
        width: 100%;
        align-items: flex-start;
    }

    .render-wrapper > * {
        text-align: left;
        width: 100%;
    }
}